.resizeK {
    width: 75px;
    height: 75px;
}

.container {
    background-color: #C4E7D4;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
}

html, body {
    background-color: #DBB3B1;
}